$timelineBackgroundColor: #f2f3f7;

.timeline {
	position: relative;
	margin-bottom: 30px;
	&:before {
		content: " ";
		display: table;
		content: " ";
		display: table;
		content: '';
		position: absolute;
		display: block;
		width: 4px;
		background: $timelineBackgroundColor;
		top: 20px;
		bottom: 20px;
		margin-left: 29px;
	}
	&:after {
		content: " ";
		display: table;
		clear: both;
	}
	.timeline-entry {
		position: relative;
		margin-top: 5px;
		margin-left: 30px;
		margin-bottom: 10px;
		clear: both;
		.timeline-entry-inner {
			position: relative;
			margin-left: -20px;
			.timeline-icon {
				display: block;
				width: 42px;
				height: 42px;
				background: #2c98f0;
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				-ms-border-radius: 50%;
				border-radius: 50%;
				text-align: center;
				-moz-box-shadow: 0 0 0 5px $timelineBackgroundColor;
				-webkit-box-shadow: 0 0 0 5px $timelineBackgroundColor;
				box-shadow: 0 0 0 5px $timelineBackgroundColor;
				line-height: 40px;
				float: left;
                
                .iconImg {
                    vertical-align: top;
                    border-radius: 50%;
                    margin-top: 1px;
                }
            }
            
			.timeline-entry-content {
                text-align: left;

				position: relative;
				background: $timelineBackgroundColor;
				padding-left: 1.5em;
				padding-right: 1.5em;
				padding-top: 1em;
				padding-bottom: .25em;
				margin-left: 60px;
				-webkit-background-clip: padding-box;
				-moz-background-clip: padding;
				background-clip: padding-box;
				&:after {
					content: '';
					display: block;
					position: absolute;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 9px 9px 9px 0;
					border-color: transparent $timelineBackgroundColor transparent transparent;
					left: 0;
					top: 10px;
					margin-left: -9px;
				}
                
                .timeline-header {
                    font-family: "Quicksand", Arial, sans-serif;
                    font-weight: 500;
                    display: block;
                    height: 32px;

                    .timeline-header-text {
                        margin-bottom: 0px;
                    }

                    h2 {
                        font-size: 20px;
                        display: inline-block;
                        vertical-align: top;
                    }

                    h3 {
                        font-size: 18px;
                        display: inline-block;
                        vertical-align: top;
                    }
                }
				
                .timeline-header-detail {
                    -webkit-opacity: .6;
                    -moz-opacity: .6;
                    opacity: .6;
                    -ms-filter: alpha(opacity=60);
                    filter: alpha(opacity=60);
                    font-size: 16px;
                    float: right;
                    vertical-align: middle;
                }

                .timeline-entry-description {
                    margin-bottom: 4px;
                }

                .timeline-entry-list-title {
                    margin-bottom: 0px;
                }

                .timeline-entry-list {
                    font-size: 1rem;
                }
			}
		}
	}
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    .timeline {
        margin-left: -30px;

        .timeline-entry-content {
            padding-left: .5em !important;
            padding-right: .5em !important;
        }

        .timeline-header {
            height: auto !important;

            .timeline-header-text {
                display: block;
            }

            .timeline-header-detail {
                display: block;
                float: left !important;
                width: 100%;
            }
        }
    }
}